{%  extends 'base.html.twig' %}

{%  block body %}

    <div>
        {{ form_start(icon_form) }}

        <div class="form-group">
            {{ form_label(icon_form.name) }}
            {{ form_widget(icon_form.name, {'attr': {'class' : 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(icon_form.image) }}
            {{ form_widget(icon_form.image) }}
        </div>

        <div>
            {{ form_widget(icon_form.save, {'attr': {'class' : 'btn btn-primary'} }) }}
        </div>
        <div>
            <a href="new-item">Enter a new Item Here</a>
        </div>

        {{ form_end(icon_form) }}
    </div>

{% endblock %}